<%- include('partials/_header') %>
<main>
  <h1>Today's Progress</h1>
  <p>Total Calories Consumed: <%= totalCalories %></p>
  <p>Remaining Calories: <%= remainingCalories %></p>
  
</main>
<%- include('partials/_footer')  %>